span{
    color: #ab8b65;
}

.divHome{
    text-align: center;
    margin: 2%
}

.divHome2{
    padding: 1%;
}

.divHome3{
    display:flex;
    
    
}

.divIconHome{
    font-size: 2em;
    
}

.divCajaHome{
    padding-left: 2%;
    padding-right: 2%;
}
.divTendencia{
    background-color: #2D3635;
    
    display: grid;
        grid-template-columns: 1fr 1fr;
       
    color: white;
   
}

.divHome1{
    text-align: center;
    margin: 2%
}
.divTen{
    width: 0.5rem;
    
}
